@model IEnumerable<HTSTicaret.Models.Urun>

@*@{
        List<HTSTicaret.Models.Urun> urunListesi = Model;
        decimal? toplamSatisFiyati = 0;
        if (urunListesi != null)
        {
            foreach (var urun in urunListesi)
            {
                if (urun.SatisFiyati != null)
                {
                    toplamSatisFiyati += urun.SatisFiyati;
                }
            }
        }
    }*@
<div class="cart-all">
    <i class="icon-19" title="19"></i>
    <span></span>TL
    <div class="inside-cart">
        <ul class="product-list">
            @foreach (var urun in Model)
            {
                <li>
                    <div class="product-item">
                        <a href="UrunDetay/@urun.Id">
                            <img src="@urun.Resim.OrtaYol" alt="Ürün Resmi" />
                        </a>
                        <div class="product-info">
                            <a href="UrunDetay/@urun.Id" class="product-name">@urun.Adi</a>
                            <p class="product-price">@urun.SatisFiyati</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>