

<div class="cart-all">
    <i class="icon-19" title="19"></i>TL (35000)
    <div class="inside-cart">
        <p>2 products in the shopping bag</p>
        <ul>
            <li>
                <div class="inside-cart-image"><img src="~/htsresim/indir.png" alt="product name" /></div>
                <button>x</button>
                <a href="product.html">Lenova Laptop</a>
                <p>Fiyatı 20000TL</p>
                <p></p>
            </li>
            <li>
                <div class="inside-cart-image"><img src="~/htsresim/iphone-14-pro-max-colors.png" alt="product name" /></div>
                <button>x</button>
                <a href="product.html">İphone 14</a>
                <p>Fiyatı 15000TL</p>
                <p>Q</p>
            </li>
        </ul>
    </div>
</div>
