
@model IEnumerable<HTSTicaret.Models.Urun>

    <div class="container" style="margin-top:30px">
        <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
            <div class="site-title">
                <ul class="wrapper-arrows">
                    <li><i class="icon-517 prev" title="left arrow"></i></li>
                    <li><i class="icon-501 next" title="right arrow"></i></li>
                </ul>
                <div class="site-inside"><span>Ürünler</span></div>
            </div>
            <div class="row">
                <div class="tesla-carousel-items">

                    @foreach (var urun in Model)
                    {
                        <div class="col-md-4 col-xs-10">
                            <div class="product">
                                <div class="product-cover">
                                    <span class="product-action">

                                    </span>
                                    <br />
                                    <div class="product-cover-hover"><span style="resize:block"><a href="/Home/UrunDetay/@urun.Id">Görüntüler</a></span></div>
                                    @if (urun.ResimID != null)
                                    {
                                        <img src="@urun.Resim.OrtaYol" alt="product name" />
                                    }

                                </div>
                                <div class="product-details">
                                    @{
                                        int maxKarakterSayisi1 = 26;
                                        string kisaltmaNoktalari1 = "..."; // Kısaltmanın sonuna eklemek istediğiniz üç nokta
                                        string kisaltilmisad = urun.Adi.Length > maxKarakterSayisi1 ? urun.Adi.Substring(0, maxKarakterSayisi1) + kisaltmaNoktalari1 : urun.Adi;
                                    }
                                    <h1><a href="/Home/UrunDetay/@urun.Adi">@kisaltilmisad</a></h1>
                                    @{
                                        int maxKarakterSayisi = 110;
                                        string kisaltmaNoktalari = "..."; // Kısaltmanın sonuna eklemek istediğiniz üç nokta
                                        string kisaltilmisAciklama = urun.Aciklama.Length > maxKarakterSayisi ? urun.Aciklama.Substring(0, maxKarakterSayisi) + kisaltmaNoktalari : urun.Aciklama;
                                    }

                                    <p style="height: 40px; overflow: hidden;">@kisaltilmisAciklama</p>

                                    <div class="product-price">
                                        <a href="/Home/SepeteAt/@urun.Id">
                                            <i class="icon-257" title="add to cart"></i>
                                        </a>

                                        @(string.Format("{0:N}", urun.SatisFiyati)) TL
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    }


                </div>
        </div>
    </div>
</div>
