
@{
    ViewBag.Title = "DenemeEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Deneme Ekle
            </header>
            <div class="panel-body has-success">
                <form action="/Admin/UrunEkle" class="form-horizontal tasi-form" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Ürün Adı :</label>
                        <div class="col-sm-10">
                            <input type="text" name="Adi" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Açıklama</label>
                        <div class="col-sm-10">
                            <input type="text" name="Aciklama" class="form-control">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Alış Fiyat</label>
                        <div class="col-lg-10">
                            <input type="number" class="spinner-input form-control" name="AlisFiyati">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-2 control-label">Satış Fiyat</label>
                        <div class="col-lg-10">
                            <input type="number" class="spinner-input form-control" name="SatisFiyati">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Kategori :</label>
                        <div class="col-lg-10">
                            <select class="form-control m-bot15" name="KategoriID">
                                @foreach (var kategori in ViewBag.kategoriler)
                                {
                                    <option value="@kategori.Id">
                                        @kategori.Adi
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Marka :</label>
                        <div class="col-lg-10">
                            <select class="form-control m-bot15" name="MarkaID">
                                @foreach (var marka in ViewBag.markalar)
                                {
                                    <option value="@marka.Id">
                                        @marka.Adi
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"> Resmi :</label>
                        <div class="controls col-md-9">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <span class="btn btn-white btn-file">
                                    <span class="fileupload-new"><i class="icon-paper-clip"></i> Resim Seç</span>
                                    <input type="file" class="default" name="fileUpload" />
                                </span>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-danger" type="submit">Kaydet</button>

                        </div>
                    </div>
                </form>
            </div>
        </section>

    </div>
</div>