
<!DOCTYPE HTML>
<html>
<head>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="HTS Ticaret">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Stylesheets -->
    <link href="/Content/web/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/web/css/style.css" rel='stylesheet' type='text/css' />
    <!--// Stylesheets -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!--//fonts-->
</head>
<body style=" margin:115px;">
    <h1>Hatalı Mail Veya Şifre</h1>
    <div class="clear-loading spinner">
        <span></span>
    </div>
    <div class="w3ls-login box box--big">
        <!-- form starts here -->
        @using (Html.BeginForm("Verify", "Security", FormMethod.Post))
        {
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Email </label>
                <input type="text" name="Email" placeholder="Email Adresinizi Giriniz" required="" />
            </div>
            <div class="agile-field-txt">
                <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Şifre </label>
                <input type="password" name="Password" placeholder="Şifrenizi Giriniz" required="" id="myInput" />
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="myFunction()">
                    <label class="check" for="check3">Şifremi Göster</label>
                </div>
                <div class="agile-right">
                    <a href="/security/KayitOl">Hesabın Yok Mu?</a>
                </div>
            </div>
            <!-- script for show password -->
            <script>
                function myFunction() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
            <!-- //end script -->
            <input type="submit" value="Giriş Yap">
        }
    </div>
    <!-- //form ends here -->
</body>
</html>
